// Make sure the line numbers aren't directly bumped against the code itself
td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    padding-right: 0.5rem;
}

td.hljs-ln-code {
    padding-left: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

.post-list {
    list-style: none;
}