<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,maximum-scale=2" name="viewport">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>

        <link rel="stylesheet" type="text/css" media="screen" href="{{ "/assets/css/style.css" | relative_url }}">

        <!-- Init hljs -->
        <script>
            hljs.highlightAll();
            hljs.initLineNumbersOnLoad();
        </script>

        {% seo %}
    </head>

    <body class="bg-dark">
        <header class="bg-dark">
            <div class="container pt-5 pb-5">
                <h1 class="text-white">{{ site.title }}</h1>
                <h2 class="text-white fw-light fs-4">
                    <a href="{{ site.invite_link }}" target="_blank" class="text-decoration-none">Join our Discord!</a>
                </h2>
            </div>
        </header>
        <main class="pt-5 pb-5 bg-light">
            <div class="container">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
        </main>
        <footer class="bg-dark">
            <div class="container pt-5 pb-5">
                <span class="text-light">If you wish to contribute, make a
                    <a class="link-light" href="https://github.com/PogChonk/RSA-Resources/pulls" target="_blank">Pull Request</a>
                    and Thodor12 or PogChonk will review it.</span>
            </div>
        </footer>
    </body>
</html>
